@font-face {
   font-family: "Baloo";
   src: url("fonts/Baloo.woff") format("woff"), url("fonts/Baloo.eot") format("embedded-opentype"), url("fonts/Baloo.ttf") format("truetype"), url("fonts/Baloo.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}